.rotas {
    padding-left: 25vw;
    padding-bottom: 3vw;
}

.botao-rota {
    border-radius: 12px !important;
    border-color: #393939 !important;
    padding: 1vw 10vw 1vw 10vw !important;
}

.botao-rota-info {
    padding-left: 2vw;
}

.titulo-roteiro {
    padding-left: 3%;
    color: #555555;
    font-weight: bold;
}

.modal{
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    width: 50vw;
    height: 450px;
}

.try-modal-overlay {     
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #565656;
    transition: opacity 200ms;
    /* width: 100vw; */
    height: 77vh;
    opacity: 0.5;
} 